
<p>post works!</p>

<!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">
    <em class="fa fa-user"></em>   Login/Signup
</button>

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <img src="../../assets/f-1.jpg" alt="">
        </div>
        <div class="col">
            <img src="../../assets/f-2.jpg" alt="">
        </div>
        <div class="col">
            <img src="../../assets/f-3.jpg" alt="">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <img src="../../assets/f-4.jpg" alt="">
        </div>
        <div class="col">
            <img src="../../assets/f-5.jpg" alt="">
        </div>
        <div class="col">
            <img src="../../assets/f-6.jpg" alt="">
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <img src="../../assets/f-7.jpg" alt="">
        </div>
        <div class="col">
            <img src="../../assets/f-8.jpg" alt="">
        </div>
        <div class="col">
            <img src="../../assets/f-9.jpg" alt="">
        </div>
    </div>
</div> -->
<!--Modal  -->
<!-- <div class="modal " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close">close</button>
                <div class="col-lg-2 d-flex">
                    <img src="./assets/logo1.png" alt="" width="150" height="75">
                </div>
                <a>Quick Login / Register</a>

            </div>
            <div class="modal-body">

                <div class>

                    <input type="number" placeholder="Enter Mobile Number">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Send OTP</button>

            </div>
            <div class="modal-body">
                <h3>By clicking continue, you agree with our <a href="#">Privacy Policy</a></h3>

            </div>
        </div>
    </div>
</div> -->
