.navbar {
    background-color: #10847e;
}

button {
    border-radius: 0px 4px 4px 0px;
    padding: 5px;
    color: #fff;
    background: -webkit-linear-gradient(0deg, #ff934b 0%, #ff5e62 100%);
    box-shadow: 0px 2px 8px 0px rgb(255 97 98 / 46%);
}

strong {
    font-size: 12px;
    padding: 13px 25px;
    text-align: center;
}

em {
    margin-right: -2px;
}

.row1 .col-lg-8 .em {
    width: 20% !important;
    height: 20% !important;
}

#offers .container .row .col-lg-4 button {
    background-color: #fff;
}

.btn-store {
    color: #777777;
    min-width: 254px;
    padding: 12px 20px !important;
    border-color: #dddddd !important;
}

.btn-store:focus,
.btn-store:hover {
    color: #ffffff !important;
    background-color: #168eea;
    border-color: #168eea !important;
}

.btn-store .btn-label,
.btn-store .btn-caption {
    display: block;
    text-align: left;
    line-height: 1;
}

.btn-store .btn-caption {
    font-size: 24px;
}

#main-footer .container .row .col-lg-3 .text-start .a {
    line-height: 2px;
}